@font-face {
  font-family: "iconfont"; /* Project id 3982834 */
  src: url('iconfont.eot?t=1680008095367'); /* IE9 */
  src: url('iconfont.eot?t=1680008095367#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1680008095367') format('woff2'),
       url('iconfont.woff?t=1680008095367') format('woff'),
       url('iconfont.ttf?t=1680008095367') format('truetype'),
       url('iconfont.svg?t=1680008095367#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiqiren:before {
  content: "\e608";
}

